//
   Created by liuchenfei on 2017/4/19.
.BookInfo
    h4 Upload on file select
    button(type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="application/*" ngf-max-height="1000" ngf-max-size="1MB") Select File
    br
    br
    span File:
    div(style="font:smaller") {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        span.progress(ng-show="f.progress >= 0")
        div(style="width:{{f.progress}}%" ng-bind="f.progress + '%'")
    span {{errorMsg}}

