html, body, .bigView {
  height: 100%;
}

.content {
  height: 88%;
}

tr {
  height: 30px;
}
.bigMenu{
  height: 100%;
  background: lightgrey;
  .menu{
    padding: 20px 10px;
    .glyphicon {
      font-size: 30px;
    }
    background: #70b0ad;
    .menuItem{
      font-size: 20px;
      text-align: center;
      display: inline-block;
      color:white;
      padding: 5px 10px;
      width: 200px;
      cursor: pointer;
      :hover{
        color: aqua;
      }
    }
  }
}